language: julia

# Use Ubuntu 14.04 on Travis, which makes it possible to use gcc 4.8.
sudo: required
dist: trusty

os:
  - linux
  - osx

julia:
  - 0.4
  - nightly

matrix:
  allow_failures:
    - os: osx
    - julia: nightly

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  # Pull in and build CompilerTools dependency.
  - julia -e 'Pkg.clone("https://github.com/IntelLabs/CompilerTools.jl")'
  - julia -e 'Pkg.build("CompilerTools")'
  # Build and test ParallelAccelerator.
  - julia -e 'Pkg.clone(pwd()); Pkg.build("ParallelAccelerator"); Pkg.test("ParallelAccelerator")'
  # Run examples.
  - julia -e 'Pkg.add("ImageMagick")'
  - julia examples/black-scholes/black-scholes.jl
  - julia examples/gaussian-blur/gaussian-blur.jl
  - julia examples/harris/harris.jl
  - julia examples/laplace-3d/laplace-3d.jl
  - julia examples/opt-flow/opt-flow.jl
  - julia examples/quant/quant.jl

